.app_likes {
  box-shadow: 0px 4px 11px rgba($mainColor, 0.5);
  background-color: rgba($white, 0.9);
  &-box {
    box-shadow: 0px 4px 6px rgba($black, 0.35);
    background-color: $white;
    img {
      border-color: $mainColor;
    }
    h3 {
      span:last-child {
        color: $lightColor;
      }
    }
    div {
      color: $mainColor;
    }
  }
}
